<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--Question3-->

    <bean id="driverManagerDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/SpringDemo"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="username" value="root"/>
        <property name="password" value="K96sanjeev@"/>
    </bean>

    <bean class="org.apache.commons.dbcp2.BasicDataSource" id="basicDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/SpringDemo"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="username" value="root"/>
        <property name="password" value="K96sanjeev@"/>
    </bean>

    <bean id="singleConnectionDataSource" class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/SpringDemo"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="username" value="root"/>
        <property name="password" value="K96sanjeev@"/>
    </bean>

    <context:component-scan base-package="com.data"/>

    <!--Question4-->

    <bean class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="singleConnectionDataSource"/>
    </bean>

    <!-- Question 10-->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="driverManagerDataSource"/>
        <property name="packagesToScan" value="com.data"/>
        <property name="hibernateProperties">
            <props>
                <prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
            </props>
        </property>
    </bean>

    <!--question11-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="singleConnectionDataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="txManager"/>

    <context:component-scan base-package="com.question11"/>

    <context:component-scan base-package="com.question12"/>

    <context:annotation-config/>

</beans>